.wd-checkout-basket-gift {
	border-width: 0 1px;
	border-style: solid;
	border-color: $gray-semilight;
	padding: 20px 0;
	h3, .control {
		display: inline-block;
		padding-left: 30px;
	}
	.ui-widget {
		font-family: $font-family;
		padding: 20px 0;
		.ui-tabs-nav {
			padding: 0 30px;
			li {
				padding: 10px;
			}
		}
		.ui-widget-content {
			border-width: 1px 0 0 0;
			.wd-product-list {
				ul {
					li {
						width: auto;
						margin: 20px 0;
						padding: 0 20px;
						border: 0;
						color: $gray-dark;
						.select-gift {
							margin: 10px 0;
							color: $gray-dark;
							cursor: pointer;
							text-decoration: none;
							&::before {
								display: none
							}
							.icon {
								position: relative;	
								padding-right: 5px;							
								&::before {
									content: '';
									display: inline-block;
									-webkit-appearance: radio;
									appearance: radio;
								}
							}
						}
						.gift-selected {
							position: relative;
							outline: 2px solid $cart-destaque;
							&::before {
								content: 'Você escolheu esse';
							    position: absolute;
							    bottom: 0;
							    left: 0;
							    width: 100%;
							    padding: 5px 0;
							    background: $cart-destaque;
							    color: #fff;
							}
							&::after {
								@include aws-icon("\f0d8");
								font-size: 20px;
							    position: relative;
							    bottom: 20px;
							    left: 0;
							    color: $cart-destaque;
							}
							.select-gift {
								.icon::after {
									content: '';
									width: 6px;
									height: 6px;
									@include round(100%);
									position: absolute;
									left: 3px;
									top:5px;
									background-color: gray;
								}
							}
						}
						.product-title {
							font-weight: bold;
							font-size: 1em;
							margin-top: 5px;
						}
						.gift-variations {
							select {
								margin: 5px auto;
							}
						}	
						.divisor {
					    	display: none;
					    }						
					}
				}
			}
		}
		.message-box {
			top: 15px;
			.wrapper.next-range, .wrapper.without-gift {
				position: initial;
				text-align: center;
				border: 0;
				outline: 0;
				box-shadow: 0 2px 10px -2px #777;
				background: #fff;
				color: $base-color;
				height: 80px;
				.icon {
					display: none;
				}
			}
		}
		.overlay {
			height: 100%;
		}
	}	
}