.wd-checkout-basket {
	.botoes-rodape {
		.wd-checkout-basket-buttons {
			.bt-keep-buying {
				margin-top: 0;
				margin-bottom: 34px;
			}
		}		
	}
	.wd-checkout-basket-buttons {
		margin-bottom: 40px;
		width: 100%;
		.bt-keep-buying {
			float: left;
			margin-top: 34px;
			margin-left: 0;
		}
		.bt-clear-basket, .wd-checkout-basket-oneclickbuy, .bt-checkout {
			float: right;
			margin-right: 0;
		}
		.wd-checkout-basket-oneclickbuy {
			width: auto;
			margin-top: 15px;
			.btn-basket-oneclickbuy {
				@extend .btn-big;
				background-image: none;
				background-color: $base-color;
				text-indent: initial;
				padding: 1em 2em !important;
				width: auto;
				height: auto;
			}
		}
	}
	.wd-product-additional-services {
		.add-service-wrapper {
			background: $gray-extralight;
		    padding: 10px 14px 14px;
		    border: 1px dashed $gray-semilight;
		    color: $gray-dark;
		    display: inline-block;
		    margin: 10px 0;
		    label {
		    	display:inline-block;
		    	font-size: 0.9em;
		    }
		}
	}
	.basket-bottom {
		border: 1px solid $gray-semilight;
		border-top: 0;
		padding: 15px;
		background-color: $gray-extralight;
		.wd-checkout-basket-discount, .wd-checkout-basket-deliveryoptions, .total, .total .price  {
			border: 0;
			background-color: transparent;
		}
		.wd-checkout-basket-discount, .wd-checkout-basket-deliveryoptions {
			.header {
				display: none;
			}
		}
		.wd-checkout-basket-discount {
			padding-right: 30px;
			.btn-add-discount {
				color: $base-color;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
			label {
				width: auto;
			}
			#checkout-basket-discount-visible {
				display: none;
			}
			.description {
				height: auto;
				label {
					width: 100%;
					margin-bottom: 15px;
				}
				input {
					margin: 0;
					width: 60%;
					float: left;
					@include round-right(0);
				}
				.js-coupon-calc {
					width: 20%;
					padding: 1em;
					@include round-left(0);
				}
			}
			.grid {
				padding: 15px 0;
				.cupom {
					> i {
						display: none;
					}

				}
				span {
					display: block;
					line-height: 1.6em;
				}
				.js-coupon-remove {
					padding: 0;
				    background: transparent;
				    color: #06799F;
				    font-size: 0.9em;
				    width: auto;
				    &:hover {
				    	text-decoration: underline;
				    }
					i {
						padding-right: 3px;
					}
				}
				.price-item {
					color: $price-off;
				}
			}
		}
		.wd-checkout-basket-deliveryoptions {
			.description {
     			text-align: right;
				label {
					width: 100%;
					margin-bottom: 15px;
				}
				.buscaCepCorreios {
					padding-right: 15px;
				}
				input {
					margin: 0;
					width: 130px;
					display: inline-block;
					@include round-right(0);
				}
				.js-shipping-calc {
					width: 90px;
					padding: 1em;
					float: right;
					@include round-left(0);
				}
				.price {
					display: none;
				}
			}
			.delivery-options {
				.js-delivery-choice {
					.photo {
						width: 50px;
						height: auto;
						vertical-align: middle;
					}
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		.total {
			border-top: 2px solid $gray-semilight;
			padding: 15px 0 15px 30px;
			height: auto;
			.header {
				position: initial;
				margin: 0;
				.title {
					font-size: 1.5em;
				}
			}
			.price {
				position: initial;
				width: 100%;
				height: auto;
				line-height: initial;
				text-align: right;
				font-weight: normal;
				span {
					font-size: 1em;
				}
				.list-price {
					color: $gray-dark;
					span {
						font-size: 1em;
					}
				}
				.savings {						
					.total-discount, .instant-price {
						display: block;
						font-size: 2em;
						color: $cart-total;
						font-weight: bold;
					}
					.variation-amount {
						color: $price-off;
						font-weight: bold;
					}
				}
				.condition {
					display: block;
				    font-size: 0.85em;
				    font-style: normal;
				    line-height: 1.5em;
				    span {
				    	font-weight: bold;
				    }
				}
			}
		}
	}
}