.wd-checkout-basket-discount-progressive {
	padding: 30px 0;
	.wd-header {
		display: none;
	}
	.content-header {
		padding-right: 50px;
		&:after {
			content: '';
			display: block;
			width: 55px;
			height: 1px;
			background-color: $gray-semilight;
			position: absolute;
			right: 0;
			top: 50%;
		}
		.title {
			margin-right: 50px;
			background:  lighten($cart-destaque, 60%);
			color: $cart-destaque;
		    float: left;
		    padding: 1.6em;
		    position: relative;
		    z-index: 0;
		    border: 1px solid;
		    border-color: lighten($cart-destaque, 35%);
		    font-size: 1.4em;
		    &:after {
		    	content: "";
			    background: lighten($cart-destaque, 60%);
			    position: absolute;
			    border-radius: 10px;
			    z-index: -2;
			    top: 11px;
			    right: -40px;
			    width: 78px;
			    height: 78px;
			    -webkit-transform: rotate(45deg);
			    -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			    border: 1px solid;
			    border-color: lighten($cart-destaque, 35%);
			    border-width: 1px 1px 0 0;
		    }
		    .frase {
		    	font-size: 0.6em;
		    	display: block;
		    }
		}
	}
	ul {
		li {
			margin: 0;
			padding: 0;
			border: 1px solid $gray-semilight;
			position: relative;
			&:not(:last-child) {
				border-right: 0;
			}
			position: relative;
			.warning {
				position: absolute;
				top: -27px;
				width: 100%;
				text-align: center;
				padding: 5px 0;
				color: $gray-dark;
			}
			i {
				color: $font-light;
				position: absolute;
			    font-size: 20px;
			    top: -9px;
			    right: 47%;
				&.gray {
					color: $gray-semilight;
					top: -7px;
				}
			}
			.values {
				padding-top: 0px;
			    font-size: 1em;
			    width: 100%;
			    text-align: center;
			    padding: 1em;
			    background: $gray-extralight;
			    white-space: nowrap;
			    display: block;
			}
			> .discount {
			    float: left;
			    text-align: center;
			    width: 100%;
			    font-weight: bold;
			    font-size: 1.125rem;
			   	padding: 10px 0;
			   	.sufix {
			   		font-weight: normal;
				    display: block;
				    font-size: 0.75rem;
			   	}
			}
			&.active {
				.discount {
			   		color: $cart-destaque;
				}
				border-right: 1px solid;
				border-color: $cart-destaque;
				.warning {
					background-color: $cart-destaque;
					border: 1px solid;
					border-color: $cart-destaque;
					border-bottom: 0;
					color: $font-light;
					width: 101%;
					left: -1px;
				}
				i {
			    	color: $cart-destaque;
					top: -9px;
				}
			}
		}
	}
}