.wd-checkout-basket-grid {
	.grid {
		border: 1px solid $gray-semilight;

		.grid-title {
			background-color: $gray-extralight;
			li {
				font-weight: bold;
				padding: 5px 30px;
				text-align: center;
				&.product {
					text-align: left;
				}
				&.subtotal {
					text-align: right;
				}
			}
		}
		.grid-informations {
			.item {
				border-bottom: 1px solid $gray-semilight;
				margin-bottom: 0;
				li.product {
					padding: 0;
				}
				.photo {
					margin: 0;
					img {
						max-width: 100%;
						height: auto;
					}
				}
				.data {
					display: inline-block;
					padding-left: 15px;
					a {
						display: block;
						padding-bottom: 10px;
					}
					.warning {
						@extend .alert;
						@extend .warning;
						@extend .small;
						display: inline-block;
					}
				}
				.is-gift.label {					
					@include flag(inline);
				}
				.price {
					text-align: center;
					del {
						color: $gray-dark;
						font-size: 0.8em;
					}
				}
				.quantity {
					text-align: center;
					.change {
						@include input-quantity(34px,0.71em 0.9em,50px,36px);
					}
				}
				.subtotal {
					text-align: right;
				}
			}
			.nested-grid {
				padding: 0;
				margin: 0;
				border-bottom: 1px solid $gray-semilight;
				.nested {
					margin: 0;
					margin-left: 45px;
					max-width: -webkit-calc(100% - 45px);
					max-width: -moz-calc(100% - 45px);
					max-width: calc(100% - 45px);
					border-left: 1px solid $gray-semilight;
					border-bottom: 0;
					&:first-child {
						&::before {
						    content: 'Itens do Kit';
						    position: absolute;
						    top: -19px;
						    font-weight: bold;
						}
					}
					.product {
						padding-left: 45px;
						@include grid-media($grid-tablet-desktop) {					
							max-width: -webkit-calc(50% - 25px);
							max-width: -moz-calc(50% - 25px);
							max-width: calc(50% - 25px);
						}
						&::before {
							content: '';
						    width: 30px;
						    height: 1px;
						    background: $gray-semilight;
						    display: block;
						    position: absolute;
						    left: 0;
						    top: 45px;
						}
					}
					.subtotal {
						strong {
							display: none;
						}
					}
				}
			}
			.bottom-grid {
				.text-subtotal, .subtotal {
					text-align: right;
					strong {
						font-size: 1.4em;
					}
				}
				.bt-clear-basket {
					padding: 10px 0;

				}	
			}			
		}
	}
}
