.wd-widget {
	width: 100%;
	.wd-product-associations {
		
		&:not(.cross-sell) {
			.wd-header {
		    	padding: 20px;
		    	.wd-title {
		    		font-size: 1.8em;
		    	}
		    }
		    .wd-content {
		    	ul li {
		    		text-align: left;
		    	}
		    }
		}
		&.cross-sell{
			.wd-content {
				form  {
					ul {
						@include grid-column(8);
						li {
							@include grid-column(6);
						}
					}
					.cross-sell-footer {
						@include grid-column(4);
						background-color: #fff;
	     				margin-top: 80px;
	     				text-align: center;
	     				.no-variation-selected {
	     					font-size: 1.3em;
	     					height: auto;
	     					line-height: initial;
	     					margin: 0;
	     					position: initial;
	     				}
	     				.btn-buy, .total {
	     					float: none;
	     				}
	     				.total {
	     					text-align: center;
	     				}
					}
				}			
			}
		}	
	}
}
.wd-product-reviews.wd-widget, .wd-product-associations.wd-widget.cross-sell {
	border: 1px solid $gray-medium;
    .wd-header {
    	background-color: $gray-light;
    	padding: 20px;
    	.wd-title {
    		font-size: 1.8em;
    	}
    }
}

.wd-product-reviews {
	width: 100%;
	.review-create {
		@extend .btn ;
		@extend .btn-small;
		margin-left: 20px;
	}
}