.product-detail {
	.title, .click-msg {
		font-size: 1.4em;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $gray-semilight;
		font-weight: normal;
	}
	.head {
		margin: 0 0 50px 0;
		.medias {
			padding: 0;
			.wd-product-medias-displayer {
				.zoom, img.ezZoom-small {
					width: 100% !important;
					height: auto !important;
				}
			}
			.wd-product-medias-enlarger {
				display: none;
			}
		}
		.information {
			padding-left: 30px;
			padding-right: 0;
			.name {
				padding: 0;
			}
			.product-information {
				color: $gray-dark;
				font-size: 0.9em;
				margin-bottom: 20px;
				padding: 0;
				dd {
					width: auto;
					margin-right: 10px;
				}
				.short-description {
					padding: 0;
					border: 0;
				}
			}
			.detalhes {
				padding-left: 0;
				>.col{
					padding: 0;
				}
				
				.wd-product-variations {
					width: 100%;
					margin-bottom: 20px;
					.options {
						max-width: 200px;
					}
				}
				.wd-product-buy-grid, .single-variations, .multiple-variations {
					width: 100%;
					.click-msg {
						padding-bottom: 15px;
					}
					th, td {
						text-align: center;
						.stockTip {
							width: 40px;
							margin: 0 auto
						}
					}
				}
				.wd-product-gift {
					border: 0;
					.title {
						float: left;
    					width: 100%;
					}
					.wd-product-gift-inline {
						float: left;
    					width: 100%;
    					ul {
    						li {
    							width: 100%;
							    padding: 15px 0;
							    border: 0;
							    border-bottom: 1px dashed $gray-medium;
							    input {
							    	float: left;
							    	margin-right: 15px;							    	
							    }
							    .wd-gift-title {
							    	display: inline-block;
								    vertical-align: top;
								    margin-left: 15px;
							    }
							    &:last-child {
							    	border-bottom: 0;
							    }
    						}
    					}
					}
				}
				.wd-product-join {
					margin-bottom: 20px;
					ul {
						li {
							width: 70px;
							height: 70px;
						}
					}
				}
			}
			.buy {
				padding-right: 0;
				margin-top: 30px;
				.buy-box {
					background-color: $gray-light;
				    padding: 30px;
				    border-top: 1px solid $gray-semilight;
				    .wd-product-amount {
				    	margin: 10px 0;
				    	@include input-quantity(45px,0.6em 0.6em,60px,38px, 1.2em);
				    }
				    .wd-buy-button {
				    	width: 100%;
				    	margin: 15px 0;
				    	.btn-buy {
					    	@extend .btn-wide;
					    	font-size: 1.5em;
					    }
				    }
				    .wd-product-oneclickbuy, .wd-product-oneclickbuy > div{
				    	width: 100%;
				    	a:not(.url-read-more) {
				    		@extend .btn;
				    		@extend .btn-wide;
				    		margin-bottom: 15px;
				    	}
				    	.text-account-text {
				    		display: none;
				    	}
				    }
				    .wd-product-notifywhenavailable {
				    	width: 100%;
				    }
				    .wd-product-wishlist {
				    	width: 100%;
				    	.btn-product-wishlist-add {
				    		@extend .btn-outline;
				    		@extend .btn-wide;
				    		padding: 15px;
				    		font-family: $font-family;
				    		font-size: 0.9em;
				    		&:before {
				    			@include aws-icon('\f004');
				    			padding-right: 5px;
				    		}
				    	}
				    }
				}
				.wd-product-deliveryfee {
					width: 100%;
					margin: 15px 0;
					label {
						font-size: 1.3em;
						padding-bottom: 15px;
					}
					.input-wrapper, .button-wrapper {
						display: inline-block;
						vertical-align: bottom;
						margin-bottom: 0;
					}
				}
			}
			.wd-product-payment-options {
				margin: 15px 0;
				button {
					@extend .btn-outline;
					&:before {
						@include aws-icon("\f09d");
						padding-right: 5px;
					}
				}
			}
			.wd-product-bundle {
				.wd-title {
					font-size: 1.3em;
					font-weight: bold;
				}
				.buy {
					margin-top: 10px;
				}
				.bundle-items-wrapper {
					padding-left: 0;
					border-bottom:0;
				}
				.bundle-itemtype-item {
					padding: 20px 0;
					background-color: #fff;
					.title {
						border: 0;
						display: block;
						padding: 0;
						margin: 0;
					}
					.bundle-item-img {
						img  {							
							max-width: 80px;
							height: auto;
						}
					}
				}
			}
		}
	}
	.wd-descriptions {
		margin-top: 50px;
		.wd-descriptions-toolbar {
			display: none;
		}
		&.tab-style {
			> .wd-title {
				display: none;
			}
			.wd-descriptions-nav {
				overflow:hidden;
				li {
					background-color: $gray-light;
					border: 1px solid $gray-semilight;
					border-bottom: 0;
					padding: 15px;
					margin-right: 5px;
					height: 53px;
					&.wd-selected {
						background-color: $font-light;
						z-index: 1;
						margin: 0;
						a {
							color: $font-dark;
							font-size: 1.3em;
							font-weight: bold;
						}
					}
				}
			}
		}
		.wd-content {
			position: relative;
			top: -1px;
			border: 1px solid $gray-semilight;
			padding: 20px;
		}
	}
	.wd-product-reviews {
		margin: 30px 0;
		.wd-content {
			padding: 25px;
			.wd-review-title {
				font-size: 1.1em;
			}
			.date {
				font-size: 0.9em;
			}
			cite {
				display: inline-block;
				margin: 0;
				font-style: normal;
			}
			.wd-review-text {
				padding: 10px 0;
				font-size: 1.1em;
			}
			.wd-review-paginate {
				text-align: center;
				ul {
					display: inline-block;
					padding-left: 0;
				}
			}
		}
		.wd-footer {
			.review-create {
				display: none;
			}
		}
	}
	.produto-flutuante {
		position: fixed;
	    bottom: 0;
	    width: 100%;
	    left: 0;
	    background-color: $gray-light;
	    padding: 20px 0;
	    border-top: 1px solid $gray-semilight;
	    z-index: 100;
	    img, .name {
	    	display: inline-block;
	    	vertical-align: middle;
	    }
	    img {
	    	border: 1px solid $gray-semilight;
	    }
	    .name {
	    	padding-left: 15px;
	    	font-size: 1.15em;
	    }
	    .button {
	    	text-align: right;
	    }
	    .wd-product-price-description, .wd-buy-button {
	    	display: inline-block;
	    	padding: 0;
	    	margin: 0;
	    	width: auto;
	    	vertical-align: middle;
	    	text-align: right;
	    }
	    .wd-product-price-description {
	    	.condition, .savings {
	    		display: none;
	    	}
	    }
	    .wd-buy-button {
	    	padding-left: 15px;
	    	button {
	    		@extend .btn-big;
	    	}
	    }
	}
}