.wd-checkout-basket-summaryheader {
	> a {
		b {
			font-size: 0;
			&:before {
				@extend %font-aws;
				content: '\f07a';
				font-size: 30px;
			}
		}
		.basket-size-wrapper {
			background-color: $orange;
			color: $font-light;
			width: 20px;
			height: 20px;
			position: absolute;
		    left: 20px;
		    bottom: -7px;
		    text-align: center;
		    line-height: 20px;
		    border: 2px solid #fff;
		    font-weight: bold;
			@include round(100%);	
		}
	}
	.wd-widget {
		background-color: #fff;
		border: 1px solid $gray-light;
		padding: 15px;
		.wd-header {
			font-size: 18px;
			text-align: left;
			padding: 0;
		}
		.wd-content {
			padding: 0;
			padding-bottom: 15px;
			margin: 0;
			ul {
				li {
					.price {
						font-weight: bold;
						font-size: 1.2em;
					}		
				}
			}
			
			.subtotal {
				padding: 0;
				height: auto;
				li {
					margin: 0;
				}
				.value {
					position: initial;
					float: right;
				}
			}
		}
		.wd-footer {
			padding: 15px 0 0 0;
			border-top: 1px solid $gray-light;
		}
	}
}