header {
	.top-bar {
		background-color: $gray-light;
		font-size: 0.9em;
		padding: 10px 0;
	}
	.ofertas {
		text-align: left;
	}
	.links {
		text-align: right;
	}

	.ofertas, .links {
		i {
			margin-right: 5px;
		}
	}
	.main-bar {
		padding: 20px 0;
		.wd-search {
			input {
				@include round-right(0);
			}
			button {
			    position: absolute;
			    right: 4px;
			    top: 0;
			    width: auto;
			    @include round-left(0);
			}
		}
		.dropdown-account {
			position: relative;
			line-height: 42px;
			&:hover {
				.wd-profile-welcome-shopper {
					display: block;
				}
			}
			i.fa-user {
				font-size: 24px;
    			padding-right: 5px;
    			color: $base-color;
			}
			.header-title {
				color: $font-dark;
				cursor: pointer;
				display: inline-block;
				span, i {
					color: $base-color;
				}
			}
			.wd-profile-welcome-shopper {
				display: none;
			    position: absolute;
			    left: -20px;
			    top: 30px;
			    height: 100px;
			    width: 150px;
			    padding: 15px;
			    box-sizing: border-box;
			    border: 1px solid $gray-light;
			    background: #fff;
			    overflow: visible;
			    z-index: 2;
			    .title {
			    	display: none;
			    }
			    .login-wrapper, .new-account {
			    	display: block;
			    	text-align: center;
			    }
			    .wd-profile-login {
		    		display: none !important;
		    	}
		    	.login-title {
		    		background-color: $btn-buy;
		    		margin-bottom: 10px;
		    		@include round(2px);
		    	}
			}
		}

		.main-wishlist {
			font-size: 30px;
			text-align: center;
			a {
				color: $base-color-2;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.icons-resume {
		order: 13;
	}
}
@media screen and (max-width: 992px) {
	.dropdown-account {
		display: none;
	}
	#top-search {
		margin-top: 15px;
	}
}
@media screen and (max-width: 885px) {
	header .links {
		display: none;
	}
}