header {
	.top-bar {
		background-color: $gray-light;
		font-size: 0.9em;
		padding: 10px 0;
	}
	.ofertas {
		text-align: left;
	}
	.links {
		text-align: right;
		@include grid-media($grid-pp){
			display: none;
		}
	}

	.ofertas, .links {
		i {
			margin-right: 5px;
		}
	}
	.main-bar {
		padding: 20px 0;
		.hamburguer {
			display: none;
			text-align: center;
			> i {
				color: $base-color;
				font-size: 2em;
			}
			@include grid-media($grid-p){
				display: block;
			}
			@include grid-media($grid-pp){
				display: block;
			}
			.dropdown-menu {
				display: none;
				background-color: $gray-light;
			    padding: 10px 15px;
			    position: absolute;
			    width: 100%;
			    left: 15px;
			    top: 0;
			    z-index: 2;
				.account * {
					color: $font-dark;
				}
				.category-menu-small {
					.wd-category-menu {
						.level-1 {
							>li {
								margin: 0;
								&.has-children {
									.icon {
										@include aws-icon("\f107");
										display: block;
										font-size: 1em;
										float: left;
									}
								}
								h3, h4 {
									font-size: 1.1em;
									font-weight: normal;
									margin: 0;
									padding: 1.1em 0;
									border-bottom: 1px solid $gray-medium;
								}
								a {
									color: $font-dark;
								}
								.level-2 {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.wd-search {
			input {
				@include round-right(0);
			}
			button {
			    position: absolute;
			    right: 4px;
			    top: 0;
			    width: auto;
			    @include round-left(0);
			}
		}
		.dropdown-account {
			position: relative;
			line-height: 42px;
			&:hover {
				.wd-profile-welcome-shopper {
					display: block;
				}
			}
			.header-title {
				color: $font-dark;
				cursor: pointer;
				span, i {
					color: $base-color;
				}
			}
			.wd-profile-welcome-shopper {
				display: none;
			    position: absolute;
			    left: -20px;
			    top: 30px;
			    height: 100px;
			    width: 150px;
			    padding: 15px;
			    box-sizing: border-box;
			    border: 1px solid $gray-light;
			    background: #fff;
			    overflow: visible;
			    z-index: 2;
			    .title {
			    	display: none;
			    }
			    .login-wrapper, .new-account {
			    	display: block;
			    	text-align: center;
			    }
			    .wd-profile-login {
		    		display: none !important;
		    	}
		    	.login-title {
		    		background-color: $btn-buy;
		    		margin-bottom: 10px;
		    		@include round(2px);
		    	}
			}
		}

		.main-wishlist {
			font-size: 30px;
			text-align: center;
			a {
				color: $base-color-2;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.icons-resume {
		order: 13;
	}
}