#footer {
	> .wrapper {
		> div {
	    	padding: 50px 0;
	    	border-bottom: 1px solid $gray-medium;
	    	overflow: hidden;
	    	&:last-child {
	    		border-bottom: 0;
	    	}
	    }
	}
    border-top: 2px solid #dfdfdf;
    background: #f6f6f6;
    h2 {
    	text-align: center;
    }
    
    .footer-newsletter {
    	text-align: center;
    	.wd-marketing-newsletter {
    		width: 500px;
    		margin: 0 auto;
    		.input-name-marketing-newsletter, label {
    			display: none;
    		}
    		.input-email-marketing-newsletter {
				width: 75%;
				float: left;
                input {
                    @include round-right(0);
                }
			}
			.input-button-marketing-newsletter {
				float: left;
				width: 25%;
				button {
                    @extend .btn-wide;
                    @include round-left(0);
				}
			}
    	}
    }
    .footer-atendimento {
    	h2 {
    		text-align: center;
    	}
    	.contato {
	    	width: 740px;
	    	margin: 0 auto;
    		padding: 30px 0 15px 0;
    		overflow: hidden;
    		i {
    			float: left;
			    font-size: 44px;
			    margin-right: 18px;
    		}
    		strong {
    			display: block;
    			margin: 3px 0 5px 0;
    		}
    		a:not(.btn) {
    			font-size: 1.3em;
    		}
    		.phone {
    			a {
    				color: $font-dark;
    			}
    		}
    	}
    	.horario {
    		color: $gray-dark;
    		text-align: center;
    	}
    }
    .footer-category {
    	.wd-category-menu {
    		.wd-title {
				font-size: 1.4em;
				color: $font-dark;  
				margin-bottom: 1.6em; 
    		}
    		.level-1 {
    			> li {
    				float: left;
    				width: 33.33%;
    				> h3 {
    					margin-bottom: 10px;
    					font-weight: bold;
    				}
    				h4 {
    					font-size:
    					0.9em;
    				}
    			}
    		}
    	}
    	.cms-page-menu {
    		float:right;
    		.root {
    			> a {
    				display: block;
    				font-size: 1.4em;
    				color: $font-dark;  
    				margin-bottom: 1.6em;  				
    			}
    			li {
    				margin: 0;
    				margin-top: 8px;
    				a {
    					font-size: 0.9em
    				}
    			}
    		}
    	}
    }
    .footer-social {
    	.box {
    		width: 450px;
    		margin: 0 auto;
    		overflow: hidden;
    	}
    	.icons {
    		text-align: center;
    		a {
    			padding: 1.3em 0.8em;
    			display: inline-block;
    			vertical-align: middle;
    		}
    		i {
    			font-size: 30px;
    		}
    	}
    }
    .certificados, .assinatura {
    	background-color: #fff;
    	color: $gray-dark;
    }
    .certificados {
    	border-top: 1px solid $gray-medium;
    	padding: 30px 0;
    }
    .assinatura {
    	.wrapper {
    		> .row {
    			border-bottom: 1px solid $gray-light;
	    		border-top: 1px solid $gray-light;
	    		padding: 30px 0;
	    		overflow: hidden;
    		}
    	}
    	.copyright, .creators {
    		text-align: center;
    	}
    	.creators {
    		width: 300px;
    		margin: 0 auto;
    		padding-top: 20px;
    		overflow: hidden;
    	}
    }
}