.wd-widget {
	overflow: hidden;
	.wd-header {
	    span.wd-icon {
	    	display: inline-block;
		}
		.wd-title {
			display: inline-block;
		}
	}
	&.wd-browsing-product-carousel, &.wd-product-list, &.wd-product-featured-list {
		.wd-header {
			padding: 15px;
			margin-bottom: 10px; 
			font-size: 2em;
		    position: relative;
			.wd-icon {
				&:before {
					content: "\f054";
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: 0.8em;
				    font-weight: normal;
				    color: $base-color;
		    		display: block;
				}
			}
		}
	}
}
.wd-browsing-breadcrumbs {
	.location {
		display: none;
	}
	li:not(.last){
		&:after {
			@include aws-icon("\f105");
			color: $gray-dark;
		}
		a {
			color: $gray-dark;
		}
	}
	.last {
		strong {
			font-weight: bold;
		}
	}
}
