.alert {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: block;
    &.alert-success {
    	color: darken( $alert-success, 30% );
        background-color: $alert-success;
        border-color: darken( $alert-success, 20% );
    }
    &.alert-info {
    	color: darken( $alert-info, 30% );
	    background-color: $alert-info;
	    border-color: darken( $alert-info, 20% );
    }
    &.alert-warning {
    	color: darken( $alert-warning, 30% );
        background-color: $alert-warning;
        border-color: darken( $alert-warning, 20% );
    }
    &.alert-danger {
        color: darken( $alert-danger, 30% );
        background-color: $alert-danger;
        border-color: darken( $alert-danger, 20% );
    }
}    