.btn, button {
	outline: none;
    background: $base-color;
    color: $font-light;
    border: none;
    @include round(2px);
    position: relative;
    padding: 1em 2em;
    line-height: 1em;
    display: inline-block;
    font-size: 0.875rem;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    -webkit-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    -moz-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    border-bottom: none;
    border-bottom-color: tint($base-color, 15%);
    &:hover, &.btn-hover {
    	text-decoration: none;
	    color: $font-light;
	    background-color: tint($base-color, 15%);
	    border-bottom-color: $base-color;
    }
    &.btn-small {
    	padding: 0.7em 1em;
    	font-size: 0.75rem;
    }
	&.btn-outline {
		background: $font-light;
		border: 1px solid $base-color;
		color: $base-color;
		&:active {
			background: tint($font-dark, 60%);
    		color: $base-color;
		}
		&:hover {
		    background: tint($font-dark, 90%);
		    color: $base-color;
		}
	}
	&.btn-big {
		font-size: 1.125rem;
    	line-height: 1.2em;
	}
	&.btn-huge {
		font-size: 1.625rem;
	}
	&.btn-wide {
	    width: 100%;
	    text-align: center;
	}
	&[disabled] {
		background-color: tint($font-dark, 70%);
	    font-weight: 500;
	    color: tint($font-dark, 40%);
	    border-bottom-color: tint($font-dark, 10%);
	    cursor: wait;
	}
	&.btn-buy {
		background-color: $btn-buy;
	}
}