// nome da pasta do tema
$theme-path: Base;

// colors
$base-color: #06799F;
$base-color-2: #FF8973;
$darken-color: darken( $base-color, 10% );
$lighten-color: lighten($base-color, 10%);
$font-dark: #444444;

$font-light: #fff;
$gray-dark: #777;
$gray-medium: #ccc;
$gray-semilight: #ddd;
$gray-light: #eee;
$gray-extralight: #f1f1f1;

$btn-buy:#22884F;
$price-off: #A1000C;
$cart-total: #22884F;
$cart-destaque: #22884F;
// alerts
$success: #dff0d8;
$info: #d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;

//flags
$flag: #22884F;

// fonts settings
$font-family: 'Lato', sans-serif;
$font-size: 14px;

// structure
$wrapper: 1180px;

// quantidade de produtos por linha em vitrine carrossel
$qtd-products-vitrine: 4;


$grid-pp: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width: 575px)"
);
$grid-p: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 575px) and (max-width:767px)"
);
$grid-m: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 768px) and (max-width:991px)"
);
$grid-g: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 992px) and (max-width:1179px)"
);
$grid-gg: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 1180px)"
);
$grid-smartphone: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width:767px)"
);
$grid-tablet-desktop: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width:768px)"
);
