// colors
$base-color: #06799F;
$base-color-2: #FF8973;
$darken-color: darken( $base-color, 10% );
$lighten-color: lighten($base-color, 10%);
$font-dark: #444444;
$font-light: #fff;
$gray-dark: #777;
$gray-medium: #ccc;
$gray-light: #eee;
$btn-buy:#22884F;

// alerts
$success: #dff0d8;
$info: #d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;

//flags
$flag: #22884F;

// fonts settings
$font-family: Arial, Helvetica, Sans-serif;
$font-size: 14px;

// structure
$wrapper: 1180px;
// quantidade de produtos por linha em listagens
$qtd-products-vitrine: 4;
$qtd-products-listagem: 3;
// quantidade de produtos por linha na vitrine nome e preco ao lado 
$qtd-products-vitrine-horizontal: 2;


