// colors
$base-color: #0A7ACA;
$darken-color: darken( $base-color, 10% );
$lighten-color: lighten($base-color, 10%);
$font-dark: #444444;
$font-light: #fff;
$gray-dark: #777;
$gray-medium: #ccc;
$gray-light: #eee;
$orange: #ffa128;
$btn-buy:#00ad6c;
// alerts
$success: #dff0d8;
$info: #d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;

// fonts 
$font-family: Arial, Helvetica, Sans-serif;
$font-size: 14px;

// structure
$wrapper: 1180px;
// quantidade de produtos por linha em listagens -- geral
$qtd-products: 4;
// quantidade de produtos por linha na vitrine especial -- nome e preco ao lado 
$special-qtd-products: 2;

