@font-face {
    font-family: 'Lato', sans-serif;
    src: url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Lato-Regular.woff2') format("woff2"), url('/Custom/Content/Themes/#{$theme-path}/CSS/Fontes/Lato-Regular.woff') format("woff");
    font-weight: normal;
}
