//
$grid-pp: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width: 575px)",
);
$grid-p: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 575px and max-width:767px)",
);
$grid-m: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 768px and max-width:991px)",
);
$grid-g: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 992px and max-width:1179px)",
);
$grid-gg: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 1180px)",
);


/*.wrapper, .grid-products #middle {
	@include grid-container;
	position: relative;
	margin: 0 auto;
	.row {
		width: 100%;
		float: none;
	}
}	
@media screen and (min-width: $wrapper) {
	.wrapper, .grid-products #middle {
		@include wrapper-width();
	}
}
@media screen and (max-width: ($wrapper - 1px)) {
	.wrapper, .grid-products #middle {
		@include wrapper-width(100%);
	}	
}

.col {
	@include grid-media($custom-neat-grid-pp){
		&.col-pp {
			-ms-flex-preferred-size: 0;
		    flex-basis: 0;
		    -webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		    flex-grow: 1;
		    max-width: 100%;
		}
       	&.col-pp-1 {
			@include grid-column(4);
		}
		&.col-pp-2 {
			@include grid-column(8);
		}
		&.col-pp-3 {
			@include grid-column(12);
		}
		&.col-pp-4 {
			@include grid-column(4);
		}
		&.col-pp-5 {
			@include grid-column(8);
		}
		&.col-pp-6 {
			@include grid-column(12);
		}
		&.col-pp-7 {
			@include grid-column(4);
		}
		&.col-pp-7 {
			@include grid-column(8);
		}
		&.col-pp-9 {
			@include grid-column(12);
		}	
		&.col-pp-10 {
			@include grid-column(4);
		}
		&.col-pp-11 {
			@include grid-column(8);
		}
		&.col-pp-12 {
			@include grid-column(12);
		}
		&:first-child {
			margin-left: 0;
		}
    }
    @include grid-media($custom-neat-grid-p){
       	&.col-p-1 {
			@include grid-column(3);
		}
		&.col-p-2 {
			@include grid-column(6);
		}
		&.col-p-3 {
			@include grid-column(9);
		}
		&.col-p-4 {
			@include grid-column(12);
		}
		&.col-p-5 {
			@include grid-column(3);
		}
		&.col-p-6 {
			@include grid-column(6);
		}
		&.col-p-7 {
			@include grid-column(9);
		}
		&.col-p-8 {
			@include grid-column(12);
		}
		&.col-p-9 {
			@include grid-column(3);
		}
		&.col-p-9 {
			@include grid-column(6);
		}
		&.col-p-11 {
			@include grid-column(9);
		}
		&.col-p-12 {
			@include grid-column(12);
		}
		&:first-child {
			margin-left: 0;
		}
    }
    @include grid-media($custom-neat-grid-m){
       	&.col-m-1 {
			@include grid-column(2);
		}
		&.col-m-2 {
			@include grid-column(4);
		}
		&.col-m-3 {
			@include grid-column(6);
		}
		&.col-m-4 {
			@include grid-column(8);
		}
		&.col-m-5 {
			@include grid-column(10);
		}
		&.col-m-6 {
			@include grid-column(12);
		}
		&:first-child {
			margin-left: 0;
		}
    }
    @include grid-media($custom-neat-grid-g){
       	&.col-g-1 {
			@include grid-column(2);
		}
		&.col-g-2 {
			@include grid-column(2);
		}
		&.col-g-3 {
			@include grid-column(3);
		}
		&.col-g-4 {
			@include grid-column(4);
		}
		&.col-g-5 {
			@include grid-column(6);
		}
		&.col-g-6 {
			@include grid-column(6);
		}
		&.col-g-7 {
			@include grid-column(7);
		}
		&.col-g-8 {
			@include grid-column(12);
		}
		&:first-child {
			margin-left: 0;
		}
    }
	@include grid-media($custom-neat-grid-gg){
       	&.col-gg-1 {
			@include grid-column(1);
		}
		&.col-gg-2 {
			@include grid-column(2);
		}
		&.col-gg-3 {
			@include grid-column(3);
		}
		&.col-gg-4 {
			@include grid-column(4);
		}
		&.col-gg-5 {
			@include grid-column(5);
		}
		&.col-gg-6 {
			@include grid-column(6);
		}
		&.col-gg-7 {
			@include grid-column(7);
		}
		&.col-gg-8 {
			@include grid-column(8);
		}
		&.col-gg-9 {
			@include grid-column(9);
		}
		&.col-gg-10 {
			@include grid-column(10);
		}
		&.col-gg-11 {
			@include grid-column(11);
		}
		&.col-gg-12 {
			@include grid-column(12);
		}
		&:first-child {
			margin-left: 0;
		}
    }
}*/