.wd-product-list {
	.wd-content {
		> ul  {
			li {
				width: auto;
				padding: 0;
			}
		}
	}
}
.wd-browsing-product-carousel {
	.wd-product-list {
		.wd-product-list {
			height: auto;
			li {
				@include calculate($wrapper,$qtd-products-vitrine);
			}
		}
	}
}
.wd-product-list-contextual {
	.wd-product-list {
		li{
			min-height: 350px;
			height: 360px;
			width: auto;
			
			.medias, .item-description {
				@include grid-column(6);
				margin: 0;
			}
		}
	}
}
.wd-product-featured-list {
	.wd-content {
		@extend .row;
		.featured, .other  {
			margin: 0;
			.product {
				padding: 0;	
			}
		}
		.other {
			.product {
				margin-bottom: 10px;
			    overflow: hidden;
			    height: auto;
			}
			.name {
				color:$font-dark;
				display: block;
			}
			.medias{
				@include grid-column(2);
				@include grid-media($grid-pp){
			       @include grid-column(12);
			    }
				.img {
					img {
						width: 100%;
						height: auto;
					}
				}
			} 
			.item-description {
				@include grid-column(10);
				@include grid-media($grid-pp){
			       @include grid-column(12);
			    }
				.col {
					padding: 0;
				}
			}
			.wd-product-price-description {
				position: initial;
				 .sale-price span {
					font-size: 1em;
					color: $font-dark;
				}
				.savings,.condition {
					display: none;
				}
			}
		}		
		.img {
			position: initial;
		}
		.featured {
			.product {	
				@extend .row;		
				.name {
					color:$font-dark;
					font-size: 1.2em;
					font-weight: bold;
					display: block;
					margin: 10px 0;
				}
				.medias, .item-description {
					margin: 0;
					vertical-align: middle;
				}
			}			
		}
	}
}

@media screen and (max-width: 992px) {
	.grid-products #content-wrapper {
		margin: 0;
	}
	.wd-browsing-breadcrumbs, .wd-browsing-grid-sorter {
		display: none;
	}
}
@media screen and (max-width:768px) {
	.wd-product-list-contextual {
		.wd-product-list{
			li {
				height: 585px;
				.medias, .item-description {
					display: block;
					width: 100%;
				}	
			}
		}
	}
}