
.wd-product-list {
	.wd-content {
		> ul  {
			li {
				width: auto;
				padding: 0;
			}
		}
	}
}
.wd-browsing-product-carousel {
	.wd-product-list {
		.wd-product-list {
			height: auto;
		}
	}
}
.wd-product-list-contextual {
	.wd-product-list {
		li{
			min-height: 350px;
			height: 350px;
			width: auto;
			
			.medias, .item-description {
				@include grid-column(6);
				margin: 0;
			}
		}
	}
}

@media screen and (max-width:768px) {
	.wd-product-list-contextual {
		.medias, .item-description {
			display: block;
			width: 100%;
		}	
	}
}