.wd-product-line {    
	padding: 25px;
	.item-description {
		.name {
			font-size: 1.1em;
			font-weight: bold;
			margin-bottom: 5px;
			height: 40px;
			a {
				color: $font-dark;
			}
		}
		> .wd-product-rating {
			padding-bottom: 5px;
		}
		.brand-ref {
			padding-bottom: 5px;
			a {
				display: inline-block;
			}
		}
		.description {
			padding-bottom: 5px;
			height: 40px;
			a {
				display: block;
				color: $font-dark;
				padding-bottom: 10px;
			}
		}
	}
	.wd-buy-button {
		width: 100%;
		padding: 10px 0;
		form {
			display: block;
		}
	}
	.more {
		font-size: 0.9em;
		li {
			margin: 5px 0;
			a {
				&:before {
					content: '+ ';
				}
			}
		}
	}
	
}