.area-profile {
	.wd-browsing-breadcrumbs {
		display: none;
	}
	.center-box {
		background-color: #fff;
		padding: 25px;
		margin: 30px;
		box-shadow: 1px 1px 1px 1px $gray-medium;
	}
	span.error {
		color: darken( $danger, 40% );
		display: inline-block;
		padding: 5px;
	}
}