.area-profile {
    .wd-browsing-breadcrumbs {
        display: none;
    }
    .center-box {
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px $gray-medium;
        @media screen and (min-width: $breakpoint-mobile) {
            padding: 25px;
            margin: 30px;
        }
        @media screen and (max-width: $breakpoint-mobile) {
            padding: 25px;
        }
    }
    span.error {
        color: darken( $danger, 40% );
        display: inline-block;
        padding: 5px;
    }
    #middle {
    }
    &:not(.page-login):not(.page-register) {
        #content {
            @extend .col-lg-10 !optional;
            width: inherit;
            @extend .order-2 !optional;
            #content-wrapper {
                margin: 0;
            }
            @media screen and (max-width: $breakpoint-mobile) {
                padding: 0;
            }
        }
    }
    #left {
        margin: 0;
        @extend .order-1 !optional;
        @extend .col-lg-2 !optional;
        @media screen and (max-width: $breakpoint-mobile) {
            padding: 0;
        }
    }
}